.default-color0.chart-series-area-line {
    -fx-stroke: #ff000000;
}

.default-color1.chart-series-area-line {
    -fx-stroke: #00ff0000;
}

.default-color2.chart-series-area-line {
    -fx-stroke: #0000ff00;
}

.default-color0.chart-series-area-fill {
    -fx-fill: rgba(255, 32, 32, 0.60);
}

.default-color1.chart-series-area-fill {
    -fx-fill: rgba(32, 255, 32, 0.60);
}

.default-color2.chart-series-area-fill {
    -fx-fill: rgba(32, 32, 255, 0.60);
}